@media (max-width:850px) {
     .grid-2
     {
         grid-template-columns: 1fr !important;
     }

     .column-1
     {
         margin-right: 0;
         margin-bottom:1rem;
     }

     .column-1
     {
         margin-left: 0;
         margin-top:1rem;
     }

     .header-content
     {
         margin-top:1rem;
     }

     .header-title 
     {
         font-size: 1.3rem;
        line-height: 0;
     }

     .header-content .image
     {
         max-width: 300px;
         margin: 0 auto;
     }

     header .column-1
     {
         max-width: 550px;
         margin: 0 auto;
     }

     .text
     {
         font-size: 1rem;
     }

     .links
     {
      position: fixed;
      width: 100%;
      height: 100vh;
      top:0;
      right: 0;
      background-color: #252525;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transform: translateX(100%);
      transition: 0.5s;
     }

     .links ul{
         flex-direction: column;
     }
     .links a{
         color: var(--light-one);
     }

     .links a.active{
        margin-left: 0;
        margin: 0.5rem 0;
     }

     .header-content .container.grid-2
     {
         min-height: 80vh;
     }

     .grid{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .skill-bar
    {
        width: 100%;
    }

    .contact-box
    {
        grid-template-columns: 1fr;
        padding: 3.2rem 2.7rem;
    }

    .contact-info
    {
        padding-right: 0;
        padding-bottom: .5rem;
    }

    .contact-form
    {
        padding-left: 0;
        padding-top: .5rem;
    }

    .information-wrap
    {
        margin-top:0.7rem;
    }

    .information:not(:last-child)
    {
        margin-bottom: 0.8rem;
    }

    .contact-input.textarea
    {
        min-height: 220px;
    }

    .contact:before{
        height: 25%;
    }

    .contact:after{
        height: 75%;
        top: 25%;
    }

    .hamburger-menu .bar{
        display: block;
    }
}

@media (max-width: 560px)
{
    .container{
        padding: 0 2rem;
    }

    .title 
    {
        font-size: 1.8rem;
    }

    .text{
        font-size: 0.92rem;
    }

    .card-items:not(:last-child)
    {
        margin-bottom: 2rem;
    }

    .contact
    {
        padding: 8rem 0 5rem 0;
    }

    .contact-box
    { 
        padding: 2.3rem 2rem;
        border-radius: 30px;
    }

    .contact-form .row{
        grid-column-gap:0.3rem;
    }

    .contact-input
    {
        font-size: 0.8rem;
        padding: 0.8rem 1.4rem;
        margin: 0.25rem 0;
    }
}

@media (max-width:451px)
{
    .info-text
    {
        font-size: 1rem;
    }

    .contact-box
    {
        padding: 2.3rem 1rem;
        text-align: center;
    }

    .container{
        padding: 0 1rem;
    }

    .contact-box
    { 
        padding: 2.0rem 2rem;
        border-radius: 30px;
    }

    .contact-form .row{
        grid-column-gap:0.3rem;
    }

    .contact-input
    {
        font-size: 0.8rem;
        padding: 0.6rem 1.2rem;
        margin: 0.20rem 0;
    }
}
